@import '~antd/es/style/themes/default.less';

.schemaLayout {
  background-color: #F0F2F5;
}
.schemaSider {
  background-color: white;
  padding:  12px;
  margin-right: 16px;
}

.content {
  background-color: white;
  padding: 12px;
}

.schema-infinite-container {
  height: '83vh';
}
.schema-loading-container {
  position: absolute;
  bottom: 40px;
  width: 100%;
  text-align: center;
}
